/*https://coolors.co/ffe5d9-ffcad4-f4acb7-111010*/

:root {   
    --colorPrimario: #FFE5D9;
    --colorSecundario: #FFCAD4;
    --colorTerciario: #F4ACB7;
    --varianteuno: #111010;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"sans-serif","helvetica","arial";
}

main{ max-width: 1200px;
    margin: auto;
}

body{background: url(../img/mar.jpg);
     background-size: cover;
}

h1{ font-size: 25px;
    margin: 20px;
    text-align: center;
    color: #111010;
}
.camposacompletar, .camposdelclima{
    font-size: 20px;
    padding: 25px;
    margin-top: 5px;  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: #111010;

  }

 .camposacompletar { 
    color: #111010;
    background-size: cover;   
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    
}

button{ border-radius: 10px;
        display: block;
        text-align: center;
        background-color: #FFE5D9;
        border-color:#9D8189 ;
}

input{  border-radius: 5px;
        background-color: #FFE5D9;
        border-color:#9D8189 ;  
}

